@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.aboutHero {
  background-image: url('../assets/backgroundImages/aboutHero.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.forgot {
  background-image: url('../assets/home/register/password.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.privacy-bg{
  background-image: url('../assets/backgroundImages/aboutHero.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.categoryHero{
  background-image: url('../assets/backgroundImages/contactHero.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.faqBg{
  background-image: url('../assets/backgroundImages/faq.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.notFound {
  background-image: url('../assets/notfounds/Web\ 404\ page\ bg.jpg');
  background-repeat: no-repeat;
}

.signUp{
  background-image: url('../assets/home/register/signupBg.jpg');
}
/* globals.css */


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}